a {
    text-decoration: none; 
    color: black;
}
a:hover {
    text-decoration: none; 
    color: black;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#Header {
    width: 100%; 
    height: 100px;
    background: #e4e4e4; 
    border-radius: 70px 0 0 70px / 70px 0 0 70px; 
    box-sizing: border-box; 
}

#Header-Title {
    float: left; 
    width: 70%; 
    height: 100px;
    line-height: 100px; 
    text-align: center; 
}       

#Header-Login {
    float: right; 
    width: 30%; 
    line-height: 100px;
    text-align: center; 
    background: #a1a1a1;
    border-radius: 70px 0 0 70px / 70px 0 0 70px; 
    box-sizing: border-box;
}

.sysTitleStyle {
    font-size: 60px; 
    font-weight: bold; 
    padding-left: 30px;
}
.spanLogin {
    float: left; 
    width: 50%; 
    font-size: 20px;
    border-right: 1px solid white;
    box-sizing: border-box;
}

.spanLogin:last-child{
    border: 0px;
}

/* 메뉴 */
#mainMenu {
    width: 100%;
}

#mainMenu li {
    position: relative;
}

#mainMenu li:hover #subMenu {
    opacity: 1;
    visibility: visible;
}

#subMenu {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #a1a1a1; 
}

#subMenu li {
    border-top: 1px solid #e4e4e4;
    box-sizing: border-box;
}